
<div id="body">
    <div class="header">
        <div>
            <h1>Thank you for your order. </h1>
            <h1>We will send you an email with delivery info in max. 24h.</h1>
        </div>
    </div>
</div>
