
@model LoginViewModel

<div id="body" class="header">
    <div class="header">
        <div>
            <h1>Register</h1>
        </div>
    </div>
</div>

   

<div id="body" class="contact">
    <div class="footer">
        <div class="contact">
            <h1>Create a new account and order your first product today!</h1>

            <form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal " role="form">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>

                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
                <label class="text-danger">* must contain: caps and non-caps, numeric and nonliteral(eg. %$^&)</label>


                <input type="submit" value="Register" id="submit">
            </form>
        </div>
    </div>
</div>